.header {
  padding: 60px;
  text-align: center;
  background: darkgray;
  color: white;
  font-size: 30px;
  margin-bottom: 20px;
  border-bottom: 2px solid black;
}
body{
	background: lightgray;
}

.body {
	background: gray;
	width: 70%;
	height: 200px;
}

.img{
	position: absolute;
	top: 180px;
	right: 250px;
	border-left: 2px solid lightgray;
	border-bottom: 2px solid lightgray;
	
}

.size {
	height: 150px;
	width: 300px;
}

.headTable{
	background: black;
	color: white;
	width: 1000px;
	padding: 0;
	height: 45px;
}

.x1{
	border: 2px solid black;
	text-align: center;
	margin-right: 10px;
	padding: 0;
}

.all{
	width: 1110px;
}

.tane {
	margin-bottom: 30px;
}

.center {
	height: 300px;
}

.start {
	height: 200px;
	margin-top: 50px;

}

td {
	border-bottom: 1px solid black;
	text-align: right;
}

hr {
	margin-bottom: 10px;
}

.text {
	padding-left: 15px;
}

.man {
	text-align: right;
}

.icon {
	width: 25px;
	height: 25px;
	height: 29px;
}